.gamebox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* Allow the game box to grow and fill available space */
    margin-top: -75px;
    /* Adjust the margin-top value to move the game box further up */
}

.grid {
    /* background-color: #012042; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    text-align: center;
    border : 1px solid #000;
    /* Adjust the margin-top value to move the grid items further up */
    margin-top: -70px;
}

.grid-item {
    font-size: 200px;
    border: 1px solid #000;
    padding: 10px;
    /* border: 8px solid #fff; */
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#myCanvas {

}